.first>img{
    width: 100vw;margin-top: 50px;
    height: 400px; 
}
.first{
    position: relative;
}
.text{
    position: absolute;
    text-align: center;
    top: 150px; left: 600px;
}
.all{
    color: #efecec; font-weight: 500;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.har{
    color: #fff;
    font-size: 36px; font-weight: 600;
}
.aa{
    margin-top: -10px;
}
.ab{
    font-size: 36px;
    color: #f8e704;font-weight: bold;
}
.bc{
    color: #fff;margin-top: -10px;
}
.M{
    background: linear-gradient(to right,#14324b 5%,#01000d);
    width: 100vw;height: 1200px;
}
.Middle{
    
    /* background-color: #050043;  */
    margin-top: -20px;
    color: white;
    display: flex; gap: 50px;
}
.left{
    width: 30vw;margin-top: 10px;
    margin-left: 100px;
}
.left>h3{
    font-size: 24px;
    margin-top: -10px;
}
.wah{
    padding: 10px;
    padding-left: 0px;
}
.right{
    width: 35vw;text-align: left;
    font-size: 14px;margin-right: 50px;
}
.mid{
    width: 35vw;font-size: 14px;
}
.mid>h3,.right>h3{
    font-weight: bold;
    font-size: 20px; padding: 10px; padding-left: 0px;
}
.mid>p,.right>p{
    font-weight: 200;
}
.extend{
    margin-top: 50px; display: flex;
    justify-content: space-around;
}
.halfone{
    width: 50vw; text-align: center;
}
.halfone>img{
    height: 400px;
}
.halftwo{
    color: white;
    text-align: left;width: 50vw;
}
.halftwo>h3{
    font-size: 24px;color: #efecec;
}
span{
    color: #e3b750; font-weight: bold;
}
.htl{
    font-weight: 400;margin-top: 30px;
    color: #efecec;
}
.caard{
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto auto;
    row-gap: 30px;margin-top: 50px; column-gap: 50px;
}
.ca{ 
    background-color: #fff;
    border-radius: 5px;
    height: 150px; padding: 5px;
    width: 250px;text-align: center;
}
.ca:hover{
    background-color: #e7a94b;
}
.ca>p{
    font-size: 13px;
}