.evimg{
    display: grid; justify-content: center;
    grid-template-columns: auto auto auto; width: 100vw;
    row-gap: 30px;margin-top: -10px; column-gap: 50px;
    background-color: #0c0817;height: 650px;
}
.ev>img{
    width: 450px; height: 200px;
}
.ev{
    background-color: #072b64;
    height: 230px;
    text-align: center;
    color: #b1c8ec;
}
.a{
    margin-top: 50px;
}
.ev>p{
    font-size: large;
    margin-top: 0px;
}