.jp{
    position: absolute;
}
.main{
    position: relative;
}
.bcgimg{
    height: 100vh;margin-left: -10px;
    width: 100vw;
}
.text-area{
    position: absolute;
    top: 100px;
    left: 100px;
}
h2{
    font-size: 60px;
    background: linear-gradient(to right, #d6417a,#f59074);
    -webkit-text-fill-color: transparent; 
     -webkit-background-clip: text;
}
.p{
    position: absolute;
    color: #bdb9b9;margin-top: -20px;
}
.email{
    width: 250px;height: 40px;
    border-radius: 5px;
    background-color: #050043;
    border: 0px;color: white;
    
}
.get_started{
    height: 40px;border-radius: 5px;
    color: white;margin-top: 30px;
    background-color: #ff5e00;
    margin-left: -6px;
}
.people>img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid #fff;
    margin-left: -15px;
}
.people{
    display: flex; 
    position: absolute;
    margin-top: 260px;  
    margin-left: 10px; 
}
.people>p{
    margin-top: 7px; margin-left: 10px;
    color: rgb(194, 88, 88);
}